{% extends 'layout.html' %}

{% block pageTitle %}
  Choose an EA Account to make a payment to - Make payments to the NHS Pension Scheme - NHSBSA
{% endblock %}



<!-- {% block beforeContent %}
{{ breadcrumb({
  href: "/",
  text: "Home"
}) }}
{% endblock %} -->


{% block content %}

<div class="app-beta">
  <div class="nhsuk-width-container app-beta__container">
    <p class="app-beta__content">
      <strong class="nhsuk-tag app-beta__tag">
        Beta
      </strong>
      <span class="app-beta__text">
      This is a new service - your <a href="https://www.snapsurveys.com/wh/s.asp?k=151257549007">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
</div>



<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">

<h2 class="app-page-heading">
Brighton & Hove Integrated Care Services Ltd.      <span class="nhsuk-caption-l">Signed in: Sam Curtis Jones
<span class="nhsuk-u-visually-hidden"> - </span></span>
</h2>
</div>
</div>
<div class="app-beta__container"></div>


<div>
  <h3>Your employing authorities (EA)</h3>
</div>


<table role="table" class="nhsuk-table-responsive">

  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">
        EA Account  
      </th>
      <th role="columnheader" class="numeric" scope="col">
        Late payments 
      </th>
      <th role="columnheader" class="numeric" scope="col">
        HNext payment due
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">EA Account </span><a href="ea" class="set-cookie" data-cookie-value="EA1234" data-cookie-name="eaCode">EA1234 - NHS Blackpool</a>
      </td>
      <td role="cell" class="nhsuk-table__cell numeric">
        <span class="nhsuk-table-responsive__heading"></span><span class="app-c-tag app-c-tag--danger">4</span>
      </td>
      <td role="cell" class="nhsuk-table__cell numeric">
        <span class="nhsuk-table-responsive__heading"></span>15th July 2019
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">EA Account </span><a href="ea" class="set-cookie" data-cookie-value="EA2000" data-cookie-name="eaCode">EA2000 - NHS Fleetwood</a>
      </td>
      <td role="cell" class="nhsuk-table__cell numeric">
        <span class="nhsuk-table-responsive__heading numeric"></span>none
      </td>
      <td role="cell" class="nhsuk-table__cell numeric">
        <span class="nhsuk-table-responsive__heading numeric"></span>15th July 2019
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">EA Account </span><a href="ea" class="set-cookie" data-cookie-value="EA3000" data-cookie-name="eaCode">EA3000 - NHS Newcastle</a>
      </td>
      <td role="cell" class="nhsuk-table__cell numeric">
        <span class="nhsuk-table-responsive__heading"></span><span class="app-c-tag app-c-tag--danger">1</span>
      </td>
      <td role="cell" class="nhsuk-table__cell numeric">
        <span class="nhsuk-table-responsive__heading"></span>15th July 2019
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">EA Account </span><a href="ea" class="set-cookie" data-cookie-value="EA4000" data-cookie-name="eaCode">EA4000 - NHS Bolton</a>
      </td>
      <td role="cell" class="nhsuk-table__cell numeric">
        <span class="nhsuk-table-responsive__heading"></span><span class="app-c-tag app-c-tag--danger">1</span>
      </td>
      <td role="cell" class="nhsuk-table__cell numeric">
        <span class="nhsuk-table-responsive__heading"></span>15th July 2019
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">EA Account </span><a href="ea" class="set-cookie" data-cookie-value="EA5000" data-cookie-name="eaCode">EA5000 - NHS Manchester</a>
      </td>
      <td role="cell" class="nhsuk-table__cell numeric">
        <span class="nhsuk-table-responsive__heading"></span>none
      </td>
      <td role="cell" class="nhsuk-table__cell numeric">
        <span class="nhsuk-table-responsive__heading"></span>15th July 2019

      </td>
    </tr>
  </tbody>
</table>









</div>
</main>
</div>




{% endblock %}
